*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.hero{
    width:100%;
    min-height:100vh;
    background: linear-gradient(158deg, #051937, #004d7a, #008793, #00bf72, #a8eb12 );
    color: #fff;
    position: relative;
}
.top{
    position: relative;
    padding-top: 2%;
}
.lineOne{
    font-size: 650%;
    position: relative;
    padding-top: 1%;
}
.lineTwo{
    font-size: 225%;
    position: relative;
}
.word{
    font-size: 300%;
    position: relative;
    padding-top:5%;
}
.type{
    font-size: 150%;
    position:relative;
    padding-top:1%;
}
.means{
    font-size: 125%;
    position:relative;
    padding-top:1%;
}
.backButton{
    position:relative;
    padding-top:16%;
}
.bButton{
    background:transparent;
    border:none;
    cursor:pointer;
    color:#fff;
}